.invoice-code::before {
    content: "#";
    color: $color-ship-cove;
}

@mixin status-details($hex-color, $rgba-color) {
    color: $hex-color;
    background-color: $rgba-color;

    .status__bullet {
        background-color: $hex-color;
        display: block;
        border-radius: 50%;
    }
}

.status  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: ToEmOrRem(104, rem);
    height: ToEmOrRem(40, rem);
    border-radius: ToEmOrRem(6, rem);
    font: {
        size: ToEmOrRem(12, rem);
        weight: 700;
    }

    $status: &;

    &__bullet {
        width: ToEmOrRem(8, rem);
        height: ToEmOrRem(8, rem);
        margin-right: ToEmOrRem(8, rem);
    }

    &.draft {
        @include status-details(#373B53, rgba(55, 59, 83, .06));
    }

    &.pending {
        @include status-details(#FF8F00, rgba(255, 143, 0, 0.06));
    }

    &.paid {
        @include status-details(#33D69F, rgba(51, 214, 159, 0.06));
    }
}

.invoice-list-item {
    margin-bottom: 1rem;
    font-size: ToEmOrRem(12, rem);
    font-weight: 500;

    &__wrapper {
        padding: ToEmOrRem(24, rem);
        background-color: #fff;
        border-radius: ToEmOrRem(8, rem);
        box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397)
    }

    &__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .invoice-code {
        font-weight: 700;
        order: -9;
    }

    .due-date {
        color: $color-ship-cove;
        order: -7;
        align-self: flex-start;
        margin: {
            top: ToEmOrRem(24, rem);
            bottom: ToEmOrRem(-8, rem);
        }
        width: 100%;

        &__title {
            color: #888EB0;
        }
    }

    .client-name {
        color: #5e5f69;
        order: -8;
        align-self: flex-end;
    }

    .grand-total {
        font: {
            size: ToEmOrRem(16, rem);
            weight: 700;
        }
        order: 1;
        align-self: flex-end;
    }

    .status {
        order: 2;
    }

    .details-icon {
        display: none;
    }
}