body {
    position: relative;
    background-color: $color-whisper;
}

#confirmDeletion {
    padding: {
        top: 50%;
        left: ToEmOrRem(24, rem);
        right: ToEmOrRem(24, rem);
    };

    .modal {

        &-dialog {
            margin: 0;
        }
    
        &-content {
            padding: ToEmOrRem(32, rem);
        }

        &-header, &-body, &-footer {
            padding: 0;
        }

        &-header {
            border-bottom: none;

             h1 {
                font: {
                    size: ToEmOrRem(20, rem);
                    weight: 700;
                };
                line-height: ToEmOrRem(32, rem);
                letter-spacing: -0.42px;
                margin-bottom: ToEmOrRem(8, rem);
            }
        }

        &-body {
            font-size: ToEmOrRem(12, rem);
            line-height: ToEmOrRem(22, rem);
            letter-spacing: -0.25px;
            color: $color-deletion-modal-text;
            margin-bottom: ToEmOrRem(24, rem);

            .invoice-code::before {
                color: $color-deletion-modal-text;
            }
        }

        &-footer {
            border-top: none;
        }
    }
}

.go-back {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: ToEmOrRem(32, rem);

    &__icon {
        margin-right: ToEmOrRem(23.66, rem);
    }

    &__text {
        font: {
            size: ToEmOrRem(12, rem);
            weight: 700;
        }
        cursor: pointer;
        &:hover,
        &:active {
            color: $color-ship-cove;
        }
    }
}

.invoice-view-menu {
    @include section-wrapper(#fff);
    height: ToEmOrRem(88, rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: {
        left: ToEmOrRem(24, rem);
        right: ToEmOrRem(24, rem);
    };
}

.status-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .text {
        color: #858BB2;
        font: {
            size: ToEmOrRem(12, rem);
            weight: 500;
        }
        line-height: ToEmOrRem(15, rem);
        letter-spacing: ToEmOrRem(-0.25, rem);
    }
}

.action-buttons {
    position: absolute;
    bottom: ToEmOrRem(-147, rem);
    left: 0;
    right: 0;
    padding: ToEmOrRem(24, rem);
    height: ToEmOrRem(91, rem);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invoice-details {
    @include section-wrapper(#fff);
    color: $color-ship-cove;
    font: {
        size: ToEmOrRem(12, rem);
        weight: 500;
        style: normal;
    }
    letter-spacing: ToEmOrRem(-0.25, rem);
    line-height: ToEmOrRem(15, rem);
    margin-top: 1rem;
    padding: ToEmOrRem(24, rem);

    .address {
        font-size: ToEmOrRem(11, rem);
        line-height: ToEmOrRem(18, rem);
    }
    
    &__first {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: ToEmOrRem(31, rem);

        .primary {
            margin-bottom: ToEmOrRem(30, rem);

            .invoice-code {
                @include strong-text();
                margin-bottom: ToEmOrRem(4, rem);
            }
        }
    }

    &__second {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .date,
        .bill-to__client-name, 
        .sent-to__client-email {
            @include strong-text(15, $line-height:20);
        }

        .label {
            margin-bottom: ToEmOrRem(12, rem);
        }

        .date-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .bill-to {

            .client-address {
                margin-top: ToEmOrRem(8, rem);
            }
        }

        .sent-to {
            margin-top: ToEmOrRem(32, rem);
        }

    }

    &__third {
        margin-top: ToEmOrRem(40, rem);
        @include section-wrapper($color-whisper);

        .invoice-items {
            font-weight: 700;

            &__inner-wrapper {
                padding: ToEmOrRem(24, rem);
            }
        }

        .invoice-items-heading {
            display: none;
        }

        .invoice-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: ToEmOrRem(24, rem);

            .label, &__amount {
                @include strong-text()
            }

            &:last-child {
                margin-bottom: ToEmOrRem(0, rem);
            }

            &__description {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .label {
                    margin-bottom: ToEmOrRem(8, rem);
                }
            }
        }

        .amount-due {
            color: #fff;
            padding: ToEmOrRem(24, rem);
            background-color: $color-oxford-blue;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom-left-radius: ToEmOrRem(8, rem);
            border-bottom-right-radius: ToEmOrRem(8, rem);

            &__amount {
                @include strong-text(
                    $font-size: 20,
                    $text-color: $color-white,
                    $letter-spacing: -0.42, 
                    $line-height: 32
                );
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media screen  and (min-width: 576px) {

    .invoice-details {

        &__second {

            .sent-to {
                margin-top: 0;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .main-content {
        padding-bottom: ToEmOrRem(135, em);
    }

    .invoice-view-menu {
        display: flex;
        justify-content: space-between;
        height: inherit;
        padding: ToEmOrRem(24, rem);
    }

    .status-info {
        width: ToEmOrRem(159, rem);
    }

    .action-buttons {
        position: static;
        display: flex;
        width: ToEmOrRem(309, rem);
        height: inherit;
        padding: 0;
    }

    #confirmDeletion {
        padding: {
            top: 30vh;
            left: 50%;
        };

        .modal {
    
            &-dialog {
                transform: translateX(-50%);
            }
        }
    }

    .invoice-details {

        &__first {
            flex-direction: row;
            justify-content: space-between;
        }

        &__second {

            .sent-to {
                margin-right: 10vw;
            }
        }

        &__third {

            .invoice-items-heading {
                display: flex;
                justify-content: space-between;
                font: {
                    weight: 500;
                    size: ToEmOrRem(11, rem);
                };
                line-height: ToEmOrRem(18, rem);
                letter-spacing: -0.229167px;
                padding: {
                    top: ToEmOrRem(8, rem);
                    bottom: ToEmOrRem(32, rem);
                };
    
                &__group-first {
                    flex-basis: 80%;
                    display: flex;
                }
    
                &__group-second {
                    display: flex;
                    flex-basis: 20%;
                    justify-content: flex-end;
                }
    
                &__item-name {
                    flex-basis: 50%;
                }
    
                &__quantity {
                    flex-basis: 10%;
                    text-align: center;
                }
    
                &__price {
                    flex-basis: 20%;
                    text-align: right;
                }
            }

            .invoice-item {
    
                &:last-child {
                    margin-bottom: ToEmOrRem(0, rem);
                }
    
                &__description {
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-basis: 80%;
    
                    .label {
                        margin-bottom: 0;
                        flex-basis: 50%;
                    }

                    .details {
                        display: flex;
                        justify-content: space-between;
                        flex-basis: 30%;

                        .quantity {
                            flex-basis: 30%;
                            text-align: center;

                            .multiplier {
                                display: none;
                            }
                        }

                        .price {
                            flex-basis: 70%;
                            text-align: right;
                        }
                    }
                }

                &__amount {
                    flex-basis: 20%;
                    text-align: right;
                }
            }
    
            .amount-due {
    
                &__amount {
                    @include strong-text(
                        $font-size: 24,
                        $letter-spacing: -.5,
                        $text-color: $color-white,  
                    );
                }
            }
        }

    }
}