$root-font-size: 16px;

/* Colours */
$color-cornflower-blue: #7C5DFA;
$color-heliotrope: #9277FF;
$color-mirage: #1E2139;
$color-ebony-clay: #252945;
$color-selago: #DFE3FA;
$color-bali-hai: #c0c0c4;
$color-ship-cove: #7E88C3;
$color-vulcan: #0C0E16;
$color-burnt-sienna: #EC5757;
$color-mona-lisa: #FF9797;
$color-whisper: #F8F8FB;
$color-white: #FFFFFF;
$color-oxford-blue: #373B53;
$color-deletion-modal-text: #888EB0;
$color-manatee: #888eb0;

$dark-theme-bg-primary: #141625;
$dark-theme-bg-secondary: $color-mirage;
$dark-theme-text-primary: $color-white;
$dark-theme-text-secondary: $color-selago;