@import 'variables';
@import 'mixins';
@import 'functions';
@import 'dashboard';
@import 'navigation';
@import 'info-menu';
@import 'buttons';
@import 'invoices-empty';
@import 'invoice-list';
@import 'invoice-view';

html {
    font-size: $root-font-size;
}

body {
    font-family: 'Spartan', sans-serif;
    line-height: 1.5;
}