@import 'variables';
@import 'mixins';
@import 'functions';
@import 'info-menu';
@import 'buttons';
@import 'invoice-list';
@import 'invoice-view';

html {
    font-size: $root-font-size;
}

body {
    font-family: 'Spartan', sans-serif;
    line-height: 1.5;
}

.dashboard-container {
    padding: {
        left: 0;
        right: 0;
    }

    &__inner {
        display: flex;
    }
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #373B53;
    height: ToEmOrRem(72, em);
    position: fixed;
    left: 0;
    right: 0;
}

.logo-wrapper {
    width: ToEmOrRem(72, em);
    height: ToEmOrRem(72, em);
    background-color: $color-cornflower-blue;
    border-top-right-radius: ToEmOrRem(20, em);
    border-bottom-right-radius: ToEmOrRem(20, em);
    position: relative;

    &__down {
        position: absolute;
        bottom: 0;
        width: ToEmOrRem(72, em);
        height: ToEmOrRem(36, em);
        background-color: $color-heliotrope;
        border-top-left-radius: ToEmOrRem(20, em);
        border-bottom-right-radius: ToEmOrRem(20, em);
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.theme-toggler {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: ToEmOrRem(105, em);
}

.user-wrapper {
    position: absolute;
    right: 0;
    border-left: 1px solid #494E6E;
    width: ToEmOrRem(80, em);
    height: 100%;
    
    &__image {
        position: absolute;
        right: ToEmOrRem(24, em);
        top: 50%;
        transform: translateY(-50%);
        width: ToEmOrRem(32, em);
        height: ToEmOrRem(32, em);
        border-radius: 50%;
    }
}

.main-content {
    padding: {
        top: ToEmOrRem(104, em);
        left: ToEmOrRem(24, em);
        right: ToEmOrRem(24, em);
    }
    background-color: $color-whisper;
    min-height: 100vh;
    width: 100%;
}



.empty-invoice {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: {
        left: ToEmOrRem(40, rem);
        right: ToEmOrRem(40, rem);
    }
    margin: {
        top: ToEmOrRem(102, rem);
        bottom: ToEmOrRem(140, rem);
    }

    &__image-wrapper {
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__message {

        text-align: center;

        .title {
            font-size: ToEmOrRem(20, rem);
            margin: {
                top: ToEmOrRem(40, rem);;
                bottom: ToEmOrRem(24, rem);
            }
            line-height: ToEmOrRem(22, rem);
        }

        .text {
            font-size: ToEmOrRem(12, rem);
            font-weight: 500;
            color: #888EB0;
            padding: {
                left: ToEmOrRem(8, rem);
                right: ToEmOrRem(8, rem);
            }
            line-height: ToEmOrRem(15, rem);
            letter-spacing: ToEmOrRem(-0.25, rem);

            .bold {
                font-weight: 700;
            }
        }
    }
}