/* Colours */
.dashboard-container {
  padding-left: 0;
  padding-right: 0;
}

.dashboard-container__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content {
  padding-top: 6.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #F8F8FB;
  min-height: 100vh;
  width: 100%;
}

@media (min-width: 992px) {
  .dashboard-container {
    /*
            For the padding left, I factored in the width 
            of the nav which is 72px. I used the tool at
            the link below to do the conversion - px to vw.
            https://khaledkzy.github.io/pixel-vh-vw-converter/
        */
    padding-left: calc(5.270863836017569vw + 6vw);
    padding-right: 6vw;
  }
  .dashboard-container__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-content {
    background-color: #F8F8FB;
    min-height: 100vh;
    width: 100%;
    padding-top: 4.5rem;
  }
}

.dark-theme, .dark-theme .main-content {
  background-color: #141625;
}

.dark-theme .main-content .info-menu__left h1 {
  color: #FFFFFF;
}

.dark-theme .main-content .info-menu__left .invoice-count {
  color: #DFE3FA;
}

.dark-theme .main-content .info-menu__right .filter-menu__text {
  color: #FFFFFF;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #373B53;
  height: 4.5rem;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}

.logo-wrapper {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #7C5DFA;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  position: relative;
}

.logo-wrapper__down {
  position: absolute;
  bottom: 0;
  width: 4.5rem;
  height: 2.25rem;
  background-color: #9277FF;
  border-top-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.logo-wrapper__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.theme-toggler {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: 6.5625rem;
}

.user-wrapper {
  position: absolute;
  right: 0;
  border-left: 1px solid #494E6E;
  width: 5rem;
  height: 100%;
}

.user-wrapper__image {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

@media (min-width: 992px) {
  nav {
    width: 4.5rem;
    height: 100vh;
    border-top-right-radius: 1.25em;
  }
  .theme-toggler {
    top: unset;
    right: unset;
    left: 0;
    /* 32px + 88px */
    bottom: 7.5rem;
    cursor: pointer;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .user-wrapper {
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5.5rem;
    border-left: none;
    border-top: 1px solid #494E6E;
    width: 100%;
  }
  .user-wrapper__image {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.dark-theme nav {
  background-color: #1E2139;
}

.info-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.75rem;
  margin-bottom: 2rem;
}

.info-menu__left h1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: -0.625px;
  margin-bottom: 0;
}

.info-menu__left .invoice-count {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.9375rem;
  letter-spacing: -0.25px;
  color: #888EB0;
  margin-bottom: 0;
}

.info-menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-menu__right .filter-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-menu__right .filter-menu__text {
  margin-right: 0.75rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: -0.25px;
}

.info-menu__right .filter-menu__text .by-status-text {
  display: none;
}

.info-menu__right .new-invoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7C5DFA;
  height: 2.75rem;
  width: 5.625rem;
  border-radius: 1.5rem;
  margin-left: 1.125rem;
  padding-left: 0.375rem;
  padding-right: 0.875rem;
}

.info-menu__right .new-invoice:hover, .info-menu__right .new-invoice:active {
  background-color: #9277FF;
}

.info-menu__right .new-invoice__invoice-text {
  display: none;
}

.info-menu__right .new-invoice .icon-plus-wrapper {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .info-menu {
    height: 3.6875rem;
  }
  .info-menu__left h1 {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: -1px;
  }
  .info-menu__right .filter-menu__text .by-status-text {
    display: inline;
  }
  .info-menu__right .new-invoice {
    height: 3rem;
    width: 9.375rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 0.5rem;
    padding-right: 0.9375rem;
    cursor: pointer;
  }
  .info-menu__right .new-invoice__invoice-text {
    display: inline;
  }
  .info-menu__right .new-invoice .icon-plus-wrapper {
    margin-right: 1rem;
  }
}

@media (min-width: 992px) {
  .info-menu {
    margin-bottom: 4.0625rem;
  }
}

.action-buttons__edit, .action-buttons__cancel {
  font-size: 0.75rem;
  font-weight: 700;
  color: #7E88C3;
  background-color: #F8F8FB;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.action-buttons__edit:hover, .action-buttons__edit:active, .action-buttons__cancel:hover, .action-buttons__cancel:active {
  font-size: 0.75rem;
  font-weight: 700;
  color: #7E88C3;
  background-color: #DFE3FA;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.action-buttons__delete {
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  background-color: #EC5757;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.action-buttons__delete:hover, .action-buttons__delete:active {
  font-size: 0.75rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #FF9797;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.action-buttons__mark-paid {
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  background-color: #7C5DFA;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.action-buttons__mark-paid:hover, .action-buttons__mark-paid:active {
  font-size: 0.75rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #9277FF;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.action-buttons__discard {
  font-size: 0.75rem;
  font-weight: 700;
  color: #7E88C3;
  background-color: #F8F8FB;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.action-buttons__discard:hover, .action-buttons__discard:active {
  font-size: 0.75rem;
  font-weight: 700;
  color: #7E88C3;
  background-color: #DFE3FA;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.action-buttons__save-draft {
  font-size: 0.75rem;
  font-weight: 700;
  color: #888eb0;
  background-color: #373B53;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
  width: 117px;
}

.action-buttons__save-send {
  font-size: 0.75rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #7C5DFA;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.new-item {
  font-size: 0.75rem;
  font-weight: 700;
  color: #7E88C3;
  background-color: #F8F8FB;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.new-item .icon-plus img {
  -webkit-filter: invert(52%) sepia(60%) saturate(282%) hue-rotate(194deg) brightness(92%) contrast(89%);
          filter: invert(52%) sepia(60%) saturate(282%) hue-rotate(194deg) brightness(92%) contrast(89%);
}

.new-item:hover, .new-item:active {
  font-size: 0.75rem;
  font-weight: 700;
  color: #7E88C3;
  background-color: #DFE3FA;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.empty-invoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-top: 6.375rem;
  margin-bottom: 8.75rem;
}

.empty-invoice__image-wrapper {
  width: 100%;
}

.empty-invoice__image-wrapper img {
  width: 100%;
}

.empty-invoice__message {
  text-align: center;
}

.empty-invoice__message .title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.375rem;
}

.empty-invoice__message .text {
  font-size: 0.75rem;
  font-weight: 500;
  color: #888EB0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
}

.empty-invoice__message .text .bold {
  font-weight: 700;
}

.empty-invoice__message .text .invoice-text {
  display: none;
}

@media (min-width: 768px) {
  .empty-invoice__wrapper {
    width: 15.08375rem;
  }
  .empty-invoice__message .text .invoice-text {
    display: inline;
  }
}

.dark-theme .empty-invoice__message .title {
  color: #FFFFFF;
}

.dark-theme .empty-invoice__message .text {
  color: #DFE3FA;
}

.invoice-code::before {
  content: "#";
  color: #7E88C3;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  font-weight: 700;
}

.status__bullet {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.5rem;
}

.status.draft {
  color: #373B53;
  background-color: rgba(55, 59, 83, 0.06);
}

.status.draft .status__bullet {
  background-color: #373B53;
  display: block;
  border-radius: 50%;
}

.status.pending {
  color: #FF8F00;
  background-color: rgba(255, 143, 0, 0.06);
}

.status.pending .status__bullet {
  background-color: #FF8F00;
  display: block;
  border-radius: 50%;
}

.status.paid {
  color: #33D69F;
  background-color: rgba(51, 214, 159, 0.06);
}

.status.paid .status__bullet {
  background-color: #33D69F;
  display: block;
  border-radius: 50%;
}

.invoice-list-item {
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.invoice-list-item__wrapper {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
          box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
}

.invoice-list-item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.invoice-list-item .invoice-code {
  font-weight: 700;
  -webkit-box-ordinal-group: -8;
      -ms-flex-order: -9;
          order: -9;
}

.invoice-list-item .due-date {
  color: #7E88C3;
  -webkit-box-ordinal-group: -6;
      -ms-flex-order: -7;
          order: -7;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 1.5rem;
  margin-bottom: -0.5rem;
  width: 100%;
}

.invoice-list-item .due-date__title {
  color: #888EB0;
}

.invoice-list-item .client-name {
  color: #5e5f69;
  -webkit-box-ordinal-group: -7;
      -ms-flex-order: -8;
          order: -8;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.invoice-list-item .grand-total {
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.invoice-list-item .status {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.invoice-list-item .details-icon {
  display: none;
}

@media (min-width: 768px) {
  .invoice-list-item__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .invoice-list-item .invoice-code {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 12%;
        flex-basis: 12%;
  }
  .invoice-list-item .due-date {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: inherit;
        -ms-grid-row-align: inherit;
        align-self: inherit;
    margin-top: 0;
    margin-bottom: 0;
    width: inherit;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .invoice-list-item .client-name {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-item-align: inherit;
        -ms-grid-row-align: inherit;
        align-self: inherit;
    text-align: start;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .invoice-list-item .grand-total {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -ms-flex-item-align: inherit;
        -ms-grid-row-align: inherit;
        align-self: inherit;
    -ms-flex-preferred-size: 18%;
        flex-basis: 18%;
    text-align: right;
  }
  .invoice-list-item .status {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -ms-flex-preferred-size: inherit;
        flex-basis: inherit;
    margin-left: 5%;
    margin-right: 2%;
  }
  .invoice-list-item .details-icon {
    display: block;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

.dark-theme .invoice-list-item__wrapper {
  background-color: #1E2139;
}

.dark-theme .invoice-list-item .invoice-code {
  color: #FFFFFF;
}

.dark-theme .invoice-list-item .due-date, .dark-theme .invoice-list-item .due-date__title {
  color: #DFE3FA;
}

.dark-theme .invoice-list-item .client-name {
  color: #FFFFFF;
}

.dark-theme .invoice-list-item .grand-total {
  color: #FFFFFF;
}

.dark-theme .invoice-list-item .status.draft {
  color: #dfe3fa;
  background-color: rgba(223, 227, 250, 0.06);
}

.dark-theme .invoice-list-item .status.draft .status__bullet {
  background-color: #dfe3fa;
  display: block;
  border-radius: 50%;
}

body {
  position: relative;
  background-color: #F8F8FB;
}

#confirmDeletion {
  padding-top: 50%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#confirmDeletion .modal-dialog {
  margin: 0;
}

#confirmDeletion .modal-content {
  padding: 2rem;
}

#confirmDeletion .modal-header, #confirmDeletion .modal-body, #confirmDeletion .modal-footer {
  padding: 0;
}

#confirmDeletion .modal-header {
  border-bottom: none;
}

#confirmDeletion .modal-header h1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.42px;
  margin-bottom: 0.5rem;
}

#confirmDeletion .modal-body {
  font-size: 0.75rem;
  line-height: 1.375rem;
  letter-spacing: -0.25px;
  color: #888EB0;
  margin-bottom: 1.5rem;
}

#confirmDeletion .modal-body .invoice-code::before {
  color: #888EB0;
}

#confirmDeletion .modal-footer {
  border-top: none;
}

.go-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.go-back__icon {
  margin-right: 1.47875rem;
}

.go-back__text {
  font-size: 0.75rem;
  font-weight: 700;
  cursor: pointer;
}

.go-back__text:hover, .go-back__text:active {
  color: #7E88C3;
}

.invoice-view-menu {
  background: #fff;
  -webkit-box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
          box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 0.5rem;
  height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.status-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.status-info .text {
  color: #858BB2;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
}

.action-buttons {
  position: absolute;
  bottom: -9.1875rem;
  left: 0;
  right: 0;
  padding: 1.5rem;
  height: 5.6875rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.invoice-details {
  background: #fff;
  -webkit-box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
          box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 0.5rem;
  color: #7E88C3;
  font-size: 0.75rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.01562rem;
  line-height: 0.9375rem;
  margin-top: 1rem;
  padding: 1.5rem;
}

.invoice-details .address {
  font-size: 0.6875rem;
  line-height: 1.125rem;
}

.invoice-details__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 1.9375rem;
}

.invoice-details__first .primary {
  margin-bottom: 1.875rem;
}

.invoice-details__first .primary .invoice-code {
  color: #0C0E16;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: -0.01562rem;
  line-height: 0.9375rem;
  margin-bottom: 0.25rem;
}

.invoice-details__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.invoice-details__second .date,
.invoice-details__second .bill-to__client-name,
.invoice-details__second .sent-to__client-email {
  color: #0C0E16;
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: -0.01562rem;
  line-height: 1.25rem;
}

.invoice-details__second .label {
  margin-bottom: 0.75rem;
}

.invoice-details__second .date-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.invoice-details__second .bill-to .client-address {
  margin-top: 0.5rem;
}

.invoice-details__second .sent-to {
  margin-top: 2rem;
}

.invoice-details__third {
  margin-top: 2.5rem;
  background: #F8F8FB;
  -webkit-box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
          box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 0.5rem;
}

.invoice-details__third .invoice-items {
  font-weight: 700;
}

.invoice-details__third .invoice-items__inner-wrapper {
  padding: 1.5rem;
}

.invoice-details__third .invoice-items-heading {
  display: none;
}

.invoice-details__third .invoice-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.invoice-details__third .invoice-item .label, .invoice-details__third .invoice-item__amount {
  color: #0C0E16;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: -0.01562rem;
  line-height: 0.9375rem;
}

.invoice-details__third .invoice-item:last-child {
  margin-bottom: 0rem;
}

.invoice-details__third .invoice-item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.invoice-details__third .invoice-item__description .label {
  margin-bottom: 0.5rem;
}

.invoice-details__third .amount-due {
  color: #fff;
  padding: 1.5rem;
  background-color: #373B53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.invoice-details__third .amount-due__amount {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.02625rem;
  line-height: 2rem;
}

@media screen and (min-width: 576px) {
  .invoice-details__second .sent-to {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .main-content {
    padding-bottom: 8.4375em;
  }
  .invoice-view-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: inherit;
    padding: 1.5rem;
  }
  .status-info {
    width: 9.9375rem;
  }
  .action-buttons {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 19.3125rem;
    height: inherit;
    padding: 0;
  }
  #confirmDeletion {
    padding-top: 30vh;
    padding-left: 50%;
  }
  #confirmDeletion .modal-dialog {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .invoice-details__first {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .invoice-details__second .sent-to {
    margin-right: 10vw;
  }
  .invoice-details__third .invoice-items-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 500;
    font-size: 0.6875rem;
    line-height: 1.125rem;
    letter-spacing: -0.229167px;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
  }
  .invoice-details__third .invoice-items-heading__group-first {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .invoice-details__third .invoice-items-heading__group-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .invoice-details__third .invoice-items-heading__item-name {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .invoice-details__third .invoice-items-heading__quantity {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    text-align: center;
  }
  .invoice-details__third .invoice-items-heading__price {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    text-align: right;
  }
  .invoice-details__third .invoice-item:last-child {
    margin-bottom: 0rem;
  }
  .invoice-details__third .invoice-item__description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .invoice-details__third .invoice-item__description .label {
    margin-bottom: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .invoice-details__third .invoice-item__description .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .invoice-details__third .invoice-item__description .details .quantity {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-align: center;
  }
  .invoice-details__third .invoice-item__description .details .quantity .multiplier {
    display: none;
  }
  .invoice-details__third .invoice-item__description .details .price {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    text-align: right;
  }
  .invoice-details__third .invoice-item__amount {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    text-align: right;
  }
  .invoice-details__third .amount-due__amount {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.03125rem;
    line-height: 0.9375rem;
  }
}

.dark-theme #confirmDeletion .modal-content {
  background-color: #1E2139;
}

.dark-theme #confirmDeletion .modal-header {
  color: #FFFFFF;
}

.dark-theme #confirmDeletion .modal-body {
  color: #DFE3FA;
}

.dark-theme #confirmDeletion .modal-body .invoice-code::before {
  color: #DFE3FA;
}

.dark-theme #confirmDeletion .modal-footer .modal-action-buttons .action-buttons__cancel {
  font-size: 0.75rem;
  font-weight: 700;
  color: #DFE3FA;
  background-color: #252945;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.dark-theme #confirmDeletion .modal-footer .modal-action-buttons .action-buttons__cancel:hover, .dark-theme #confirmDeletion .modal-footer .modal-action-buttons .action-buttons__cancel:active {
  font-size: 0.75rem;
  font-weight: 700;
  color: #7E88C3;
  background-color: #FFFFFF;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.dark-theme .main-content .go-back__text {
  color: #FFFFFF;
}

.dark-theme .main-content .go-back__text:hover, .dark-theme .main-content .go-back__text:active {
  color: #888EB0;
}

.dark-theme .main-content .invoice-view-menu .status-info .text {
  color: #DFE3FA;
}

.dark-theme .main-content .invoice-view-menu, .dark-theme .main-content .invoice-view-menu .action-buttons {
  background-color: #1E2139;
}

.dark-theme .main-content .invoice-view-menu .action-buttons__edit {
  font-size: 0.75rem;
  font-weight: 700;
  color: #DFE3FA;
  background-color: #252945;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.dark-theme .main-content .invoice-view-menu .action-buttons__edit:hover, .dark-theme .main-content .invoice-view-menu .action-buttons__edit:active {
  font-size: 0.75rem;
  font-weight: 700;
  color: #7E88C3;
  background-color: #FFFFFF;
  line-height: 0.9375rem;
  letter-spacing: -0.01562rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  outline: none;
  border: none;
}

.dark-theme .main-content .invoice-details {
  background-color: #1E2139;
}

.dark-theme .main-content .invoice-details__first .primary .invoice-code {
  color: #FFFFFF;
}

.dark-theme .main-content .invoice-details__first .primary .invoice-code::before {
  color: #888EB0;
}

.dark-theme .main-content .invoice-details__first .project-name, .dark-theme .main-content .invoice-details__first .vendor-address {
  color: #DFE3FA;
}

.dark-theme .main-content .invoice-details__second .label {
  color: #DFE3FA;
}

.dark-theme .main-content .invoice-details__second .date, .dark-theme .main-content .invoice-details__second .bill-to__client-name {
  color: #FFFFFF;
}

.dark-theme .main-content .invoice-details__second .client-address {
  color: #DFE3FA;
}

.dark-theme .main-content .invoice-details__second .sent-to__client-email {
  color: #FFFFFF;
}

.dark-theme .main-content .invoice-details__third, .dark-theme .main-content .invoice-details__third .amount-due {
  background-color: #0C0E16;
}

.dark-theme .main-content .invoice-details__third .invoice-items {
  background-color: #252945;
  color: #DFE3FA;
}

.dark-theme .main-content .invoice-details__third .invoice-items .label, .dark-theme .main-content .invoice-details__third .invoice-items .invoice-item__amount {
  color: #FFFFFF;
}

.form-view-wrapper {
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: 0;
}

.form-view-wrapper__inner {
  background-color: #FFFFFF;
  padding: 2rem 1.5rem;
}

.form-view-wrapper__inner .form-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.5px;
}

.form-view-wrapper__inner .section-title {
  color: #7C5DFA;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 0.9375rem;
  letter-spacing: -0.25px;
}

.form-view-wrapper__inner .item-list-title {
  color: #777f98;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 2rem;
  letter-spacing: -0.38px;
  margin-top: 1.5rem;
}

.form-view-wrapper__inner .bill-to {
  margin-top: 2.5rem;
}

.form-view-wrapper__inner .go-back {
  margin-bottom: 1.5rem;
}

.form-view-wrapper__inner label, .form-view-wrapper__inner .item-heading {
  color: #7E88C3;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.9375rem;
  letter-spacing: -.25px;
  margin-bottom: 0.625rem;
}

.form-view-wrapper__inner .form-control {
  border-color: #DFE3FA;
  font-size: 0.75rem;
  font-weight: 700;
  height: 3rem;
  line-height: 0.9375rem;
  letter-spacing: -.25px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  outline: none;
}

.form-view-wrapper__inner .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-view-wrapper__inner input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
  -webkit-text-fill-color: inherit;
}

.form-view-wrapper__inner input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
  -webkit-text-fill-color: inherit;
}

.form-view-wrapper__inner #item-total {
  border: none;
  padding-left: 0;
  color: #2d3044;
}

.form-view-wrapper__inner .item-delete + .form-control {
  border: none;
}

.form-view-wrapper__inner .item-delete + .form-control img {
  cursor: pointer;
}

.form-view-wrapper__inner .item-delete + .form-control img:hover {
  -webkit-filter: invert(31%) sepia(82%) saturate(7239%) hue-rotate(354deg) brightness(91%) contrast(128%);
          filter: invert(31%) sepia(82%) saturate(7239%) hue-rotate(354deg) brightness(91%) contrast(128%);
}

.form-view-wrapper .action-buttons.form-action {
  width: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Spartan', sans-serif;
  line-height: 1.5;
}
/*# sourceMappingURL=styles.css.map */